*{
 margin: 0px;
 padding: 0px;
}
#header{
  background-color: #E8E8E8;
  padding: 25px;
  font-family: 'Arimo', sans-serif;
}
h1{
  color: 990099;
}
#input{
  margin-top: 20px;
  margin-bottom: 10px;
}
h2{
  color: 6699FF;
  margin-top: 25px;
}
td{
  padding: 15px;
}
