<html>
  <head>
    <style>
      h1{
        text-align: center;
        color: blue;
      }
      p{
        text-align: center;
        font-size: 18px;
        color: red;
      }
      form{
        position: relative;
        left: 550px;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to the Great Number Game!</h1><br>
    <p>I am thinking of a number between 1 and 100</p><br>
    <p>Take a guess!</p>
    <form action ="/result", method ="post">
      <input class="textbox" type="text" name="number"><br><br>
      <input class = "submitbutton" type ="submit" value ="Submit">
    </form>
  </body>
</html>
