<!DOCTYPE html>
<html>
  <head>
      <title>Counter</title>
  </head>
  <body>
      <h1>Counter</h1>
      <h3><%=count%></h3>
      <a href="/counttwo">Add Two</a>
      <a href="/reset">Reset</a>
  </body>
</html>
