*{
 margin: 0px;
 padding: 0px;
}
#container{
 width: 970px;
 background-color: #245176;
 margin: 10px auto;
 padding-top: 10px;
}
#header {
  display: inline-block;
}
#header-left {
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
}
#header-right {
  display: inline-block;
  vertical-align: top;
}
#header-right span{
  display: block;
  color: #bdcad6;
  position: absolute;
  right: 200px;
  font-family: 'Open Sans', sans-serif;
  font-size: 9pt;
}
#header-right span a {
  color: #948f28;
}
#search_box {
  background-color: #444444;
  width: 250px;
  height: 65px;
  border-radius: 20px;
  display: block;
  position: absolute;
  right: 175px;
  top: 50px;
  box-shadow: 2px 2px 2px #202f3c;
}
#search_button {
  background-color: #ffffff;
  width: 130px;
  height: 35px;
  margin-top: 15px;
  margin-left: 35px;
  border-style: solid;
  border-color: grey;
  display: inline-block;
  box-shadow: 2px 2px 2px #202f3c;
}
#go_button {
  color:  #a8bac8;
  background-color: #245176;
  width: 40px;
  height: 28px;
  margin: 15px;
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-color: #b2b5b7;
  border-width: medium;
  border-radius: 10px;
  text-align: center;
  padding-top: 8px;
  box-shadow: 2px 2px 2px #202f3c;
}
#nav_bar {
  color: #ffffff;
  background-color: #487eac;
  margin-left: 65px;
  margin-top: 20px;
  border-radius: 5px;
  height: 35px;
  width: 850px;
  padding-top: 15px;
  box-shadow: 2px 2px 2px #202f3c;
}
#nav_bar li {
  display: inline;
  padding: 12px;
  margin-left: 30px;
  font-size: 13pt;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#link_list {
  color: #bcc9d5;
  display: inline-block;
  text-align: center;
  margin-left: 120px;
  vertical-align: top;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
}
#link_list li {
  margin: 8px;
}
#link_list li a {
  color: #bdcad5;
}
#text_top {
  display: inline-block;
}
#upper_text {
  color: #d3dce3;
  vertical-align: top;
  width: 635px;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
}
#middle_text {
  color: #d5ba3e;
  font-size: 15pt;
  font-style: italic;
  width: 300px;
  text-align: center;
  line-height: 1.5;
  margin-left: 185px;
  font-family: 'Open Sans', sans-serif;
}
#lower_text {
  color: #c1cdd8;
  font-size: 13pt;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#main_content_bottom {
  background-color: #ffffff;
  margin-top: 20px;
}
#bottom_box_line_left {
  background-color: #79aad7;
  display: inline-block;
  vertical-align: top;
  height: 0.25px;
  width: 360px;
  padding: 2px;
  margin: 10px 30px 10px 100px;
}
#bottom_box_line_right {
  background-color: #79aad7;
  display: inline-block;
  vertical-align: top;
  height: 0.25px;
  width: 360px;
  padding: 2px;
  margin: 10px 20px 10px 30px;
}
#content_box_left {
  width: 345px;
  text-align: center;
  display: inline-block;
  margin: 5px;
  margin-left: 120px;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
}
#content_box_left li {
  margin: 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
}
#content_box_right {
  width: 345px;
  text-align: center;
  display: inline-block;
  margin: 5px;
  margin-left: 70px;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
}
#content_box_right li {
  margin: 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
}
.bottom_content_box a {
  color: #a4c5e4;
}
#footer {
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: center;
}
#footer li{
  color: #6499c7;
  display: inline;
  padding: 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
}
#footer p {
  color: #6499c7;
  font-size: 6pt;
  font-family: 'Open Sans', sans-serif;
}
