<html>
  <head>
    <title>Dojo Secrets</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/secrets/css/style.css' %}" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
  </head>
  <body>
    <div id = "header">
      {% if messages %}
        {% for message in messages %}
            <p style="color: red"> {{message}}<p>
        {% endfor %}
      {% endif %}
      <h1>Hello, {{name}}!</h1>
      <a href = "/logout">logout</a>
      <form id = "input" action="/view" method="post">
        {% csrf_token %}
        <textarea class='secretbox' name='content'  rows="4" cols="50" style="width: 50%" placeholder = "Your secret here..."></textarea><br>
        <input class = "button" type='submit' value='Post'>
      </form>
      <a href = "/popular">Most Popular Secrets</a>
      <h2>Recent Secrets...</h2>
      <table>
      {% for secret in secrets %}
        <tr>
          <td>{{secret.content}}</td>
          <td>({{secret.created_at.date|timesince}} ago)</td>
          <td>{{secret.all_likes__count}}</td>
          {% if secret.user_id == request.session.user %}
          <td><form class="delete" action='/remove/{{secret.id}}' method='post'>
            {% csrf_token %}
            <input type='submit' value='Delete'>
          </form></td>
          {% elif secret.user_id != request.session.user %}
          <div id = "like"><td><form action='/like/{{secret.id}}' method='post'>
            {% csrf_token %}
            <input type='submit' value='Like'>
          </form><td></div>
            {% endif %}
            {% for like in likes %}
              {% if like.user_id == request.session.user and secret.id == like.secret_id %}
              <div id = "liked"><td><strong> You liked this </strong></td></div>
              {% endif %}
            {% endfor %}
      {% endfor %}
      </table>
    </div>
  </body>
</html>
