<html>
  <head>
    <title>Dojo Secrets</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'secrets/css/style.css' %}" charset="utf-8">
  </head>
  <body>
    <div id = "header">
      <h1>Most Popular Secrets...</h1>
      <a href = "/secrets">Back</a>
      <table>
      {% for secret in secrets %}
        <tr>
          <td>{{secret.content}}</td>
          <td>{{secret.created_at.date}}</td>
          <td>{{secret.num_likes}}</td>
          {% if secret.user_id == request.session.user %}
          <td><form class="delete" action='/remove/{{secret.id}}' method='post'>
            {% csrf_token %}
            <input type='submit' value='Delete'>
          </form></td>
          {% elif secret.user_id != request.session.user %}
          <td><form class="like" action='/like/{{secret.id}}' method='post'>
            {% csrf_token %}
            <input type='submit' value='Like'>
          </form><td>
            {% endif %}
            {% for like in likes %}
              {% if like.user_id == request.session.user and secret.id == like.secret_id %}
              <td><strong> You liked this </strong></td>
              {% endif %}
            {% endfor %}
        </tr>
      {% endfor %}
      </table>
    </div>
  </body>
</html>
