*{
 margin: 0px;
 padding: 0px;
}
#container{
 margin: 10px auto;
padding: 20px;
}
#cat_image {
  display: inline-block;
  padding: 5px;
}
#ninja_image{
  display: inline-block;
  padding: 5px;
}
.cat{
  display: block;
  padding: 1px;
}
.ninja{
  display: block;
  padding: 1px;
}
