*{
 margin: 0px;
 padding: 0px;
}
#header{
  margin: 15px;
  background-color: #e0e0e0;
  padding: 25px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 500;
  margin-left: 375px;
  margin-bottom: 50px;
}
th{
  background-color: #e0e0e0;
  color: #00006b;
  margin-top: 25px;
}
td, th {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #00006b;
  color: white;
}
tr:nth-child(odd) {
  background-color: #b9b9b9;
  color: #00006b;
}
h1{
  font-family: arial, sans-serif;
  text-align: center;
  color: #00006b;
}
#title{
  margin: 15px;
}
.title{
  width: 450px;
  height: 25px;
}
#author{
  display: inline-block;
  margin: 15px;
}
.author{
  width: 208px;
  height: 25px;
}
#category{
  display: inline-block;
  vertical-align: top;
  margin: 15px;
}
.category{
  width: 208px;
  height: 25px;
}
form{
  margin-left: 375px;
}
form label{
  font-family: arial, sans-serif;
  color: #00006b;
}
