<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Survey Form</title>
    </head>
    <body>
        <h1>Submitted Information</h1>
        <h3>Name: <%= data.name %><br>
            Dojo Location: <%= data.location %><br>
            Favorite Language: <%= data.language %><br>
            Comment: <%= data.comment %> <br>
        </h3>
    </body>
</html>
