<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mongoose Dashboard</title>
    </head>
    <body>

        <h1>Description of Your <%= mongeese[0].name %></h1>

        <%= mongeese[0].description %><br>
        <p>Age: <%= mongeese[0].age %></p><br>
        <br>
        <a href = "/"> Back </p

    </body>
</html>
